
.box {
  position: static;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 40s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
}
.box span {
  
  backdrop-filter: blur(5px);
  border: 1px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent, white);
}
.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  filter: blur(2px);
}
.text_h2 {
  position: relative;
  top: 17px;
  font-size: 15px;
  text-align: center;
  color: white;
}
